
%header.green.big-padding
	.col-md-10.no-float.center-block
		.col-md-6.no-padding.inline-block
			=image_tag "tiendus.png",width:"100"
			%h1.white-text.ultra-big.Kostic
				%strong
					Offer your digital products to your audience
		.col-md-5.inline-block
			=image_tag "mono.png"


.grey.white-text.big-padding.Kostic
	.col-md-10.no-float.center-block
		.absolute{style:"bottom: -4.5em; left:0px; width:100%;"}
			.text-center.big
				.col-md-3.inline-block
					.white.grey-text.circle
						%strong 
							1
				.col-md-3.inline-block
					.white.grey-text.circle
						%strong 
							2  
				.col-md-3.inline-block
					.white.grey-text.circle
						%strong 
							3
		%h2.bigger.Kostic.text-center
			%strong Tiendus in 3 steps
		%div.text-center.top-space
			.col-md-3.inline-block.text-left
				=image_tag "upload-icon.png", class:"col-md-10 inline-block"
				.top-space
					%strong.mediun
						Upload your files to Tiendius
				%p.white-text.text-justify.small
					Digital books, music, comic, courses or whatever you can think of! If you can put it in a .ZIP file, you can sell it.*

			.col-md-3.inline-block.text-left
				=image_tag "youtube-icon.png", class:"col-md-10 inline-block"
				.top-space
					%strong.mediun
						Upload your files to Tiendius
				%p.white-text.text-justify.small
					Digital books, music, comic, courses or whatever you can think of! If you can put it in a .ZIP file, you can sell it.*
			.col-md-3.inline-block.text-left
				=image_tag "money-icon.png", class:"col-md-10 inline-block"
				.top-space
					%strong.mediun
						Upload your files to Tiendius
				%p.white-text.text-justify.small
					Digital books, music, comic, courses or whatever you can think of! If you can put it in a .ZIP file, you can sell it.*
			




