
%header.green.big-padding
 .col-md-10.no-float.center-block
  .col-md-6.no-padding.inline-block
   =image_tag "tiendus.png",width:"100"
   %h1.white-text.ultra-big
    %strong
     Offer your digital products to your audience
  .col-md-5.inline-block
   =image_tag "mono.png"




%p Hola mundo
%p Hola de nuevo


%p
 =link_to "Log In", new_user_session_path
%p 
 =link_to "Sing Up", new_user_registration_path