
%header.green.big-padding
 .col-md-10.no-float.center-block
  .col-md-6.no-padding.inline-block
   =image_tag "tiendus.png",width:"100"
   %h1.white-text.ultra-big.Kostic
    %strong
     Offer your digital products to your audience
  .col-md-5.inline-block
   =image_tag "mono.png"
.grey.white-text.big-padding.Kostic
 %h2.bigger.Kostic.text-center
  %strong Tiendus in 3 steps
 %div.text-center
  .col-md-3.inline-block.text-left
   =image_tag "upload-icon.png", class:"col-md-10 inline-block"
   .top-space
    %span.mediun
     Upload your files to Tiendius
  .col-md-3.inline-block.text-left
  .col-md-3.inline-block.text-left





